#header img{
      display: block;
    margin-left: auto;
    margin-right: auto;
    } 

#navbar ul { 
	margin: 10; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: black;  
  font-family: 'Raleway', sans-serif;
	} 
 
#navbar ul li a:hover { 
	color: #937FA4; 
	} 

#bcard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bcard p{
  text-align: center; 
  margin: 10; 
	padding: 5px;
   font-family: 'Raleway', sans-serif;
  padding: .2em 1em; 
  
}

p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

p a{

  color: black;  
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration:none;
}

p a:hover { 
	color: #FFCC66
; 
	} 
